myenv/
Repos with 15 Metric Score Changes/15_metric_changes
.DS_Store
all_repo_tags_new_data_part2.csv
all_repo_tags_new_data.csv
expanded_tags_releases_old.csv
expanded_tags_releases_rerun.csv
expanded_tags_releases.csv
expanded_tags_releases_final.csv
release_history_final.csv
package_data.csv
OLD_inclusion_exclusion_criteria/
inclusion_exclusion_data/
.venv/
package_data_final.csv
old/dependents_retried.csv
old/dependents_retried_2.csv
old/failures_retried.csv
old/failures_retried_2.csv
old/failures_run2.csv
old/failures_run3_dependents.csv
local_metrics/*
!local_metrics/process_local_metric_data.ipynb
control_variables/repo_age/package_and_system_rerun.csv
control_variables/repo_age/first_releases_run2.csv
control_variables/repo_age/package_and_system.csv
old/
control_variables/issues_opened/bq_release_data_by_ID.csv
control_variables/issues_opened/bq_issue_data_by_ID.csv
previous_release_histories/
*.csv
